.ticket-description{
  display     : none;
  padding-left: 41px;
}
.expandable{
  cursor       : default;
  padding-left : 9px;
  padding-right: 5px;
  font-family  : "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
}
.notExpandable{
  padding-left : 24px;
}
ul{
  list-style-type: none;
}
